  <link rel="stylesheet" href="./css/booking.css" />

</head>


<body>
  <header>
    <div class="header-content">
      <div class="branding">
        <a href="/" class="homepage-link">
          <img src="/img/pawprint.png" class="main-paw" alt="Black website icon"/>
          <img src="/img/pawprint-white.png" class="alt-paw" alt="White website icon"/>
        </a>
        <a href="/" class="homepage-link"><h3>Safe Paws</h3></a>
      </div>
      <nav>
        <a href="/staff">Our Team</a>
        <a href="/profile" class="profile-link">
          <img src="/img/user.png" alt="User icon leading to profile page"/>
        </a>
      </nav>
    </div>
  </header>
  
  <main>
    <section class="booking-heading">
      <h1>Book a Service</h1>
    </section>

    <div class="booking-form-wrapper">
      <form class="booking-form">

        <!-- BOOKING FORM PART 1 -->
        <div class="booking-form-1">
          <!-- POPULATE WITH GET CALL -->
          <!-- VALUE SHOULD BE PET ID -->
          <label for="pet-select">Which pet is the service for?</label>
          <select name="type" class="form-control" id="pet-select">
            <option selected>Choose Pet</option>
            {{#each user.pets as |pet|}}<option value="{{pet.id}}">{{pet.pet_name}}</option>{{/each}}

          </select>

          <!-- POPULATE OPTION VALUES AND TEXT WITH GET CALL -->
          <!-- OPTION VALUES SHOULD BE SERVICE ID -->
          <label for="service-select">What service is the booking for?</label>
          <select name="type" class="form-control" id="service-select">
            <option selected>Choose Service</option>
            {{#each services as |service|}}<option value="{{service.id}}">{{service.service_name}}</option>{{/each}} 
          </select>

          <label for="special-instructions-input">Are there special instructions?</label>
          <textarea class="form-control" id="special-instructions-input" rows="4" placeholder="Special Instructions"></textarea>

          <button class="form-button" id="next-booking-btn">Next</button>
        </div>

        <!-- BOOKING FORM PART 2 -->
        <div class="booking-form-2">
          <!-- POPULATE NEXT 14 DAYS WITH DAYJS -->
          <label for="date-select">Please choose a date.</label>
          <select name="type" class="form-control" id="date-select">
            <option selected>Choose Date</option>
          </select>

          <label for="time-select">Please choose a time.</label>
          <select name="type" class="form-control" id="time-select">
            <option selected>Choose Time</option>
            <option value="1">10:00 AM</option>
            <option value="2">11:00 AM</option>
            <option value="3">12:00 PM</option>
            <option value="4">1:00 PM</option>
            <option value="5">2:00 PM</option>
            <option value="6">3:00 PM</option>
            <option value="7">4:00 PM</option>
            <option value="8">5:00 PM</option>
            <option value="9">6:00 PM</option>
            <option value="10">7:00 PM</option>
          </select>

          <!-- POPULATE WITH STAFF -->
          <!-- OPTION VALUES SHOULD BE STAFF ID -->
          <label for="staff-select">*Request a staff member.</label>
          <small>*optional - request may be granted based on availability</small>
          <select name="type" class="form-control" id="staff-select">
            <option selected>Choose Service</option>
            <option value="1">Tessa</option>
            <option value="2">Tessa</option>
            <option value="3">Tessa</option>
            <option value="4">Tessa</option>
          </select>
          
          <button class="form-button" id="submit-booking-btn">Submit</button>
        </div>
      </form>
    </div>

  
  </main>
    

  <!-- HANDLEBARS CUTTOFF -->

  <footer>
    <div class="footer-content">
      <a href="/staff#contact-form">Contact Us</a>
      <div class="socials">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl main-fb" style="color: #000000;" alt="Black Facebook Icon Link"></i></a>

        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl main-logo" style="color: #000000;" alt="Black Instagram Icon Link"></i></a>

        <a href="https://www.snapchat.com" target="_blank"><i class="fa-brands fa-snapchat fa-2xl main-logo" style="color: #000000;" alt="Black Snapchat Icon Link"></i></a>
      </div>
    </div>
  </footer>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- MDB -->
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
  ></script>

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
  crossorigin="anonymous"></script>

  <!-- JS -->
  <script src="./js/booking.js"></script>
    <script src="./js/main.js"></script>