  <link rel="stylesheet" href="/css/index.css" />

</head>
<body>
  <header>
    <div class="header-content">
      <div class="branding">
        <a href="/" class="homepage-link">
          <img src="/img/pawprint.png" class="main-paw" alt="Black website icon"/>
          <img src="/img/pawprint-white.png" class="alt-paw" alt="White website icon"/>
        </a>
        <h1 class="header-text"><span class="header-first-part">Know they're in </span><span class="title-color">Safe Paws</span></h1>
      </div>
      <nav>
        <a href="/staff">Our Team</a>
        <a href="/profile" class="profile-link">
          <img src="/img/user.png" alt="User icon leading to profile page"/>
        </a>
      </nav>
    </div>
  </header>

  <hero class="hero-section">
    <img src="/img/hero-kitten.png" class="hero-image"/>
  </hero>
  
  <main>
    <section class="about-section">
      <div class="about-text">
        <div class="about-us">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae praesentium nulla odit facilis cupiditate consequatur alias laboriosam expedita ex repellat error nobis aspernatur, dolorem adipisci dignissimos distinctio ratione exercitationem! Odit.</p>
        </div>
        <div class="why-us">
          <h3>Why Choose Us</h3>
          <ul>
            <li>Flexible</li>
            <li>Accomodating</li>
            <li>Variety of Services</li>
            <li>Friendly Staff</li>
            <li>Most customers are consistent customers</li>
          </ul>
        </div>
      </div>
      <a href="/staff"><button class="meet-our-team button-primary">Meet our team!</button></a>
    </section>

    <div class="furry-friends-wrapper">
      <section class="furry-friends-section">
        <h3>Some of our Furry Friends</h3>
        <div class="pet-photos">
          <div class="pet-wrapper">
            <img src="https://placehold.co/240" alt="Image of a pet served by Safe Paws"/>
            <h5>Francis</h5>
          </div>
          <div class="pet-wrapper">
            <img src="https://placehold.co/240" alt="Image of a pet served by Safe Paws"/>
            <h5>Francis</h5>
          </div>
          <div class="pet-wrapper">
            <img src="https://placehold.co/240" alt="Image of a pet served by Safe Paws"/>
            <h5>Francis</h5>
          </div>
        </div>
      </section>
    </div>


    <section class="reviews-section">
      <h3>Customer Reviews</h3>
      <div class="reviews">
        <div class="review-wrapper">
          <h5>Theresa</h5>
          <p>Safe Paws always takes great care of my Francis! He always get individual walks and play time when I’m at work.</p>
        </div>
        <div class="review-wrapper">
          <h5>Kyle</h5>
          <p>My cat Jimbo has special medication that he does NOT like taking. Safe Paws staff manages to get him to ENJOY his medication!</p>
        </div>
        <div class="review-wrapper">
          <h5>Paul</h5>
          <p>We use Safe Paws to houes sit our dog Pickles and our grouchy old cat Oscar. They will work you to schedule flexible hours, and they will even water your plants!</p>
        </div>
      </div>
    </section>

  </main>
    

  <footer>
    <div class="footer-content">
      <a href="/staff#contact-form">Contact Us</a>
      <div class="socials">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl main-fb" style="color: #000000;" alt="Black Facebook Icon Link"></i></a>

        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl main-logo" style="color: #000000;" alt="Black Instagram Icon Link"></i></a>

        <a href="https://www.snapchat.com" target="_blank"><i class="fa-brands fa-snapchat fa-2xl main-logo" style="color: #000000;" alt="Black Snapchat Icon Link"></i></a>
      </div>
    </div>
    <a href="https://www.pexels.com/photo/photo-of-grey-tabby-kitten-lying-down-2558605/" target="_blacnk" class="hero-image-source">Featured Photo by Anel Rossouw</a>
  </footer>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- MDB -->
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
  ></script>

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
  crossorigin="anonymous"></script>

  <!-- JS -->
  <script src="./js/main.js"></script>