  <link rel="stylesheet" href="./css/login.css" />


</head>


<body>
  <header>
    <div class="header-content">
      <div class="branding">
        <a href="/" class="homepage-link">
          <img src="/img/pawprint.png" class="main-paw" alt="Black website icon"/>
          <img src="/img/pawprint-white.png" class="alt-paw" alt="White website icon"/>
        </a>
        <a href="/" class="homepage-link"><h3>Safe Paws</h3></a>
      </div>
      <nav>
        <a href="/staff">Our Team</a>
        <a href="/profile" class="profile-link">
          <img src="/img/user.png" alt="User icon leading to profile page"/>
        </a>
      </nav>
    </div>
  </header>
  
  <main>
      <div class="form-wrapper login-wrapper">
        <form id="login-form">
          <h1>Log In</h1>
          <div class="form-outline">
            <input type="text" id="username-login-input" class="form-control" />
            <label class="form-label" for="username-login-input">Username</label>
          </div>
          <div class="form-outline">
            <input type="password" id="password-login-input" class="form-control" />
            <label class="form-label" for="password-login-input">Password</label>
          </div>
          <button class="form-button" id="login-button">Log In</button>
          <a class="signup-link">Need to create an account?</a>
        </form>
      </div>

      <div class="form-wrapper signup-wrapper">
        <form id="signup-form">
          <h1>Sign Up</h1>
          <div class="form-outline">
            <input type="email" id="email-signup-input" class="form-control" />
            <label class="form-label" for="email-signup-input">Email</label>
          </div>
          <div class="form-outline">
            <input type="text" id="username-signup-input" class="form-control" />
            <label class="form-label" for="username-signup-input">Username</label>
          </div>
          <div class="form-outline">
            <input type="password" id="password-signup-input" class="form-control" />
            <label class="form-label" for="password-signup-input">Password</label>
          </div>
          <div class="form-outline">
            <input type="password" id="password-signup-confirm" class="form-control" />
            <label class="form-label" for="password-signup-confirm">Confirm Password</label>
          </div>
          <div class="form-outline">
            <input type="address" id="address-signup-input" class="form-control" />
            <label class="form-label" for="address-signup-input">Address</label>
          </div>
          <button class="form-button" id="sign-up-button">Sign Up</button>
          <a class="login-link">Already have an account?</a>
        </form>
      </div>
  </main>

  <footer>
    <div class="footer-content">
      <a href="/staff#contact-form">Contact Us</a>
      <div class="socials">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl main-fb" style="color: #000000;" alt="Black Facebook Icon Link"></i></a>

        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl main-logo" style="color: #000000;" alt="Black Instagram Icon Link"></i></a>

        <a href="https://www.snapchat.com" target="_blank"><i class="fa-brands fa-snapchat fa-2xl main-logo" style="color: #000000;" alt="Black Snapchat Icon Link"></i></a>
      </div>
    </div>
  </footer>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- MDB -->
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
  ></script>

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
  crossorigin="anonymous"></script>

  <!-- JS -->
  <script src="./js/login.js"></script>  
  <script src="./js/main.js"></script>