  <link rel="stylesheet" href="./css/staff.css" />

</head>


<body>
  <header>
    <div class="header-content">
      <div class="branding">
        <a class="homepage-link">
          <img src="/img/pawprint.png" class="main-logo" alt="Black website icon"/>
          <img src="/img/pawprint-white.png" class="alt-logo" alt="White website icon"/>
        </a>
        <h3>Safe Paws</h3>
      </div>
      <nav>
        <!-- update with routes -->
        <a href="../img/staff.html">Our Team</a>
        <a href="/img/profile.html" class="profile-link">
          <img src="/img/user.png" alt="User icon leading to profile page"/>
        </a>
      </nav>
    </div>
  </header>
  
  <main>
    <section class="leaders-section">
      <h1>Our Leaders</h1>
      <div class="leaders-display">
        <div class="leaders-content">
          <div class="leader-wrapper">
            <div class="color-block"></div>
            <h4>Sandra Anderson</h4>
            <div class="leader-lower">
              <img src="https://placehold.co/149" alt="Image of Safe Paws Leader"/>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos excepturi voluptatem, id esse maiores nam est quasi repellendus nesciunt, molestias dolore tempora sunt fuga sit at eum natus consequatur quisquam.</p>
            </div>
          </div>

          <div class="leader-wrapper">
            <div class="color-block"></div>
            <h4>Sandra Anderson</h4>
            <div class="leader-lower">
              <img src="https://placehold.co/149" alt="Image of Safe Paws Leader"/>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos excepturi voluptatem, id esse maiores nam est quasi repellendus nesciunt, molestias dolore tempora sunt fuga sit at eum natus consequatur quisquam.</p>
            </div>
          </div>
        </div>

        <div class="leader-btn-wrapper">
          <button class="button-primary book-service-btn">Book a service!</button>
          <a href="#contact-form"><button class="button-primary contact-us-btn">Contact us!</button></a>
        </div>
      </div>
    </section>

    <div class="team-wrapper">
      <section class="our-team-section">
        <h3>Our Team</h3>
        <div class="staff-section">
          <div class="staff-member-wrapper">
            <img src="https://placehold.co/117" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Tessa Alhberg</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Kyle the Husky</p>
            </div>
          </div>

          <div class="staff-member-wrapper">
            <img src="https://placehold.co/117" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Tessa Alhberg</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Kyle the Husky</p>
            </div>
          </div>

          <div class="staff-member-wrapper">
            <img src="https://placehold.co/117" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Tessa Alhberg</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Kyle the Husky</p>
            </div>
          </div>
          
          <div class="staff-member-wrapper">
            <img src="https://placehold.co/117" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Tessa Alhberg</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Kyle the Husky</p>
            </div>
          </div>
          
          <div class="staff-member-wrapper">
            <img src="https://placehold.co/117" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Tessa Alhberg</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Kyle the Husky</p>
            </div>
          </div>
          
          <div class="staff-member-wrapper">
            <img src="https://placehold.co/117" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Tessa Alhberg</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Kyle the Husky</p>
            </div>
          </div>
          
          <div class="staff-member-wrapper">
            <img src="https://placehold.co/117" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Tessa Alhberg</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Kyle the Husky</p>
            </div>
          </div>
          
          <div class="staff-member-wrapper">
            <img src="https://placehold.co/117" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Tessa Alhberg</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Kyle the Husky</p>
            </div>
          </div>
          
        </div>
      </section>
    </div>

    <section class="contact-us-section" id="contact-form">
      <div class="contact-form-wrapper">
        <form class="contact-form">
          <h3>Contact Us</h3>
          <div class="form-outline">
            <input type="name" id="contact-name-input" class="form-control" />
            <label class="form-label" for="contact-name-input">Full Name</label>
          </div>
          <div class="form-outline">
            <input type="email" id="contact-email-input" class="form-control" />
            <label class="form-label" for="contact-email-input">Email</label>
          </div>
          <div class="form-outline">
            <textarea type="text" id="contact-message-input" class="form-control"></textarea>
            <label class="form-label" for="contact-message-input">What's your message?</label>
          </div>
          <button class="form-button" id="submit-contact-btn">Send Message</button>
        </form>
      </div>
    </section>

  </main>






 <footer>
    <div class="footer-content">
      <a href="../public/staff.html">Contact Us</a>
      <div class="socials">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl main-logo" style="color: #000000;" alt="Black Facebook Icon Link"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl alt-logo" style="color: #ffffff;" alt="White Facebook Icon Link"></i></a>

        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl main-logo" style="color: #000000;" alt="Black Instagram Icon Link"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl alt-logo" style="color: #ffffff;" alt="White Instagram Icon Link"></i></a>

        <a href="https://www.snapchat.com" target="_blank"><i class="fa-brands fa-snapchat fa-2xl main-logo" style="color: #000000;" alt="Black Snapchat Icon Link"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-snapchat fa-2xl alt-logo" style="color: #ffffff;" alt="White Snapchat Icon Link"></i></a>
      </div>
    </div>
  </footer>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- MDB -->
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
  ></script>

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
  crossorigin="anonymous"></script>

  <!-- JS -->
  <script src="./js/staff.js"></script>  
  <script src="./js/main.js"></script>