  <link rel="stylesheet" href="./css/staff.css" />

</head>


<body>
  <header>
    <div class="header-content">
      <div class="branding">
        <a href="/" class="homepage-link">
          <img src="/img/pawprint.png" class="main-paw" alt="Black website icon"/>
          <img src="/img/pawprint-white.png" class="alt-paw" alt="White website icon"/>
        </a>
        <a href="/" class="homepage-link"><h3>Safe Paws</h3></a>
      </div>
      <nav>
        <a href="/staff">Our Team</a>
        <a href="/profile" class="profile-link">
          <img src="/img/user.png" alt="User icon leading to profile page"/>
        </a>
      </nav>
    </div>
  </header>
  
  <main>
    <section class="leaders-section">
      <h1>Our Leaders</h1>
      <div class="leaders-display">
        <div class="leaders-content">
          <div class="leader-wrapper">
            <div class="color-block"></div>
            <h4>Brad Pitt</h4>
            <div class="leader-lower">
              <img src="https://images.pexels.com/photos/159557/leisure-wildlife-photography-pet-photography-dog-159557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" height="149px" width="149px" alt="Image of Safe Paws Leader"/>
              <p>Whether it's a hot day out on the boat, a week camping in the redwoods, or climbing in the car to head to grandma's house, Henry is always our right hand man. On the rare occasion that Henry can't join us on our business trip, it always felt like an imposition asking friends for favors, and we never felt totally at ease reaching out to coworkers and other businesses over charged. With Safe Paws, I know we can do that for him.</p>
            </div>
          </div>

          <div class="leader-wrapper">
            <div class="color-block"></div>
            <h4>Naomi Watts</h4>
            <div class="leader-lower">
              <img src="https://images.pexels.com/photos/3846049/pexels-photo-3846049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" height="149px" width="149" alt="Image of Safe Paws Leader"/>
              <p>Cats are strange creatures, as all cat owners would admit. But having a cat with cerebellar hypoplasia adds another layer to that strangeness. The beautiful thing about Safe Paws is that they understand. If what you need is more than just a food and water refill for your low-maintanance cat, their trained and selective staff have you covered.</p>
            </div>
          </div>
        </div>

        <div class="leader-btn-wrapper">
          <a href="/booking"><button class="button-primary book-service-btn">Book a service!</button></a>
          <a href="#contact-form"><button class="button-primary contact-us-btn">Contact us!</button></a>
        </div>
      </div>
    </section>

    <div class="team-wrapper">
      <section class="our-team-section">
        <h3>Our Team</h3>
        <div class="staff-section">
          <div class="staff-member-wrapper">
            <img src="https://images.pexels.com/photos/6334588/pexels-photo-6334588.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Jonah Hill</h5>
              <p>Dog Walker, Pet Sitter</p>
              <p>Pets: Blue the tuxedo, Tasha the mut.</p>
            </div>
          </div>

          <div class="staff-member-wrapper">
            <img src="https://images.pexels.com/photos/17806561/pexels-photo-17806561/free-photo-of-woman-posing-with-a-dog.jpeg" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Susan Sarandan</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Rudy the Bloodhound</p>
            </div>
          </div>

          <div class="staff-member-wrapper">
            <img src="https://images.pexels.com/photos/7633663/pexels-photo-7633663.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Jeff Goldblum</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Gandalf the russian blue, and Puddle the orange cat.</p>
            </div>
          </div>
          
          <div class="staff-member-wrapper">
            <img src="https://images.pexels.com/photos/15226353/pexels-photo-15226353/free-photo-of-man-hugging-pet-duck.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>James Gandolfini</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Berty the cocatoo</p>
            </div>
          </div>
          
          <div class="staff-member-wrapper">
            <img src="https://media.istockphoto.com/id/1143038218/photo/a-man-holds-a-rat-in-his-arms-and-smiles.jpg?s=2048x2048&w=is&k=20&c=7h_Mv2U2IZ6qzj2885Go4h3iZ0JBIr0LcqJxkZXEdXA=" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Robert De Niro</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Dippy the rat</p>
            </div>
          </div>
          
          <div class="staff-member-wrapper">
            <img src="https://images.pexels.com/photos/1139793/pexels-photo-1139793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Florence Pugh</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Bubby the dachshund</p>
            </div>
          </div>
          
          <div class="staff-member-wrapper">
            <img src="https://images.pexels.com/photos/17806635/pexels-photo-17806635/free-photo-of-smiling-man-with-white-dog.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Steve Harvey</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Garfield the husky</p>
            </div>
          </div>
          
          <div class="staff-member-wrapper">
            <img src="https://images.pexels.com/photos/17769506/pexels-photo-17769506/free-photo-of-woman-posing-on-a-horse.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Image of Safe Paws Team Member" height="117px" width="117px"/>
            <div class="staff-text">
              <h5>Miley Cyrus</h5>
              <p>Dog Walker, Dog Sitter</p>
              <p>Pets: Shadowfax the horse</p>
            </div>
          </div>
          
        </div>
      </section>
    </div>

    <section class="contact-us-section" id="contact-form">
      <div class="contact-form-wrapper">
        <form class="contact-form">
          <h3>Contact Us</h3>
          <div class="form-outline">
            <input type="name" id="contact-name-input" class="form-control" />
            <label class="form-label" for="contact-name-input">Full Name</label>
          </div>
          <div class="form-outline">
            <input type="email" id="contact-email-input" class="form-control" />
            <label class="form-label" for="contact-email-input">Email</label>
          </div>
          <div class="form-outline">
            <textarea type="text" id="contact-message-input" class="form-control"></textarea>
            <label class="form-label" for="contact-message-input">What's your message?</label>
          </div>
          <button class="form-button" id="submit-contact-btn">Send Message</button>
        </form>
      </div>
    </section>

  </main>






  <footer>
    <div class="footer-content">
      <a href="/staff#contact-form">Contact Us</a>
      <div class="socials">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-2xl main-fb" style="color: #000000;" alt="Black Facebook Icon Link"></i></a>

        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-2xl main-logo" style="color: #000000;" alt="Black Instagram Icon Link"></i></a>

        <a href="https://www.snapchat.com" target="_blank"><i class="fa-brands fa-snapchat fa-2xl main-logo" style="color: #000000;" alt="Black Snapchat Icon Link"></i></a>
      </div>
    </div>
  </footer>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- MDB -->
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"
  ></script>

  <!-- jQuery -->
  <script
  src="https://code.jquery.com/jquery-3.7.0.slim.min.js"
  integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE="
  crossorigin="anonymous"></script>

  <!-- JS -->
  <script src="./js/staff.js"></script>  
  <script src="./js/main.js"></script>