/* FLEXBOX CREATOR */
main,
.booking-heading,
.booking-form,
.booking-form-1,
.booking-form-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0 10% 0 10%;
  align-items: flex-start;
  flex-direction: column;
}

.booking-heading {
  margin-top: 50px;
  height: 70px;
  justify-content: flex-start;
  align-items: flex-end;
}

.booking-form-wrapper,
.booking-heading {
  width: 80%;
}

.booking-form,
.booking-form-1,
.booking-form-2 {
  margin-top: 10px;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  max-width: 500px;
}

.booking-form-2 {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 616px) {
  .booking-heading {
    margin-top: 0;
    align-items: flex-start;
    min-height: 70px;
    width: 100%;
  }
  .booking-form-wrapper {
    width: 100%;
  }
}