main,
header,
.hero-section,
.about-section,
.about-text,
.furry-friends-section, 
.furry-friends-wrapper,
.pet-photos,
.pet-wrapper,
.reviews,
.reviews-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
}

header {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
}

.hero-section {
  width: 100%;
}

.hero-image {
  width: 100%;
}

.header-text {
  position: absolute;
  left: 10%;
  top: 119px;
}

.title-color {
  color: var(--brand-primary);
}

main {
  width: 100%;
  flex-direction: column;
}

.about-section,
.furry-friends-section,
.reviews-section {
  width: 80%;
}

.about-section {
  min-height: 546px;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-section h3 {
  color: var(--brand-primary);
}

.about-text {
  align-items: flex-start;
  justify-content: space-between;
  gap: 100px;
}

.about-us {
  max-width: 800px;
  flex-shrink: 1;
}

.why-us {
  width: 306px;
  flex-shrink: 0;
}

li {
  list-style-type: circle;
  list-style-position: outside;
}

.furry-friends-wrapper {
  padding: 20px 0 20px 0;
  min-height: 452px;
  background-color: var(--brand-light);
  width: 100%;
  align-items: flex-start;
}

.furry-friends-section {
  height: 90%;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.furry-friends-section h3 {
  width: 100%;
  text-align: left;
  color: var(--brand-primary)
}

.pet-photos {
  flex-wrap: wrap;
}

.pet-photos, .reviews {
  width: 100%;
  justify-content: space-evenly;
  gap: 20px;
}

.pet-wrapper {
  flex-direction: column;
  gap: 5px;
}

.pet-photos img {
  border-radius: 200px;
  box-shadow: var(--brand-shadow);
}

.reviews-section {
  min-height: 312px;
  flex-direction: column;
  gap: 20px;
}

.reviews-section h3 {
  width: 100%;
  text-align: left;
}

.review-wrapper {
  min-height: 160px;
  width: 240px;
  flex: 1;
  box-shadow: var(--brand-shadow);
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px 0 5px;
}

.review-wrapper h5 {
  font-family: 'Hubballi', cursive;
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 400;
}

.review-wrapper p {
  font-size: 18px;
}



@media screen and (max-width: 1278px) {
  .header-text {
    top: 99px;
  }
  .pet-photos, .reviews {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1145px) {
  .header-text {
    top: 89px;
    font-size: 48px;
  }
  .pet-photos, .reviews {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1145px) {
  .header-text {
    top: 89px;
  }
}

@media screen and (max-width: 975px) {
  .review-wrapper {
    width: 100%;
    min-height: 160px;
  }
  .reviews {
    flex-direction: column;
  }
}

@media screen and (max-width: 908px) {
  .header-text {
    top: 59px;
    font-size: 42px;
  }
  .about-text {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  .about-section {
    gap: 40px;
    padding: 20px 0 40px 0;
  }
}

@media screen and (max-width: 720px) {
  .header-text {
    position: static;
    left: 0;
  }
  .header-first-part {
    display: none;
  }
  .pet-wrapper, .review-wrapper {
    align-items: stretch;
  }
}

@media screen and (max-width: 639px) {
  .review-wrapper, .pet-photos img, .pet-photos h5 {
    width: 90vw;
  }
  .pet-photos img {
    border-radius: 300px;
  }
  .pet-photos h5 {
    text-align: center;
  }
  .about-section,
  .furry-friends-section,
  .reviews-section {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .header-text {
    display: none;
  }
  .header-content, .footer-content {
    width: 90%;
  }
}