main,
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
}

.form-wrapper {
  margin-top: 40px;
  width: 600px;
  flex-direction: column;
}

form {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 80%;
  padding-bottom: 30px;
}

a {
  display: block;
}

a:hover {
  color: var(--brand-primary)
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.signup-wrapper {
  display: none;
}

@media screen and (max-width: 500px) {
  form,
  .header-content,
  .footer-content {
    width: 90%;
  }
}