/* STANDARD FLEX BOX SETUP */
main, 
.profile-heading,
.upcoming-bookings,
.upcoming-wrapper,
.account-section,
.account-information,
.account-btn-wrapper,
.swiper, 
.swiper-slide,
.profile-pets {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* WIDTH DIMENSIONS */
main {
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.profile-heading,
.upcoming-bookings,
.account-section {
  width: 80%;
}


/* PROFILE HEADING AND PET IMAGES SECTION */
.profile-heading {
  min-height: 167px;
  justify-content: space-between;
  color: var(--brand-primary);
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.profile-heading img {
  border-radius: 100px;
  box-shadow: var(--brand-shadow);
}

.profile-pets {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}


/* UPCOMING BOOKINGS SECTION */
.upcoming-wrapper {
  width: 100%;
  background-color: var(--brand-light);
}

.upcoming-bookings {
  flex-direction: column;
  min-height: 330px;
  margin: 10px 0 10px 0;
  align-items: flex-start;
  justify-content: space-around;
}

.upcoming-bookings button {
  margin: 10px auto 10px 40px;
}


/* SWIPER - PART OF UPCOMING BOOKINGS SECTION */
.swiper {
  width: 100%;
  padding: 10px;
}

.swiper-wrapper {
  margin-left: 60px;
}

.swiper-slide {
  min-width: 220px;
  height: 160px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: var(--brand-shadow);
  border-radius: 5px;
  padding-left: 20px;
  justify-content: flex-start;
}

.swiper-slide p {
  font-size: 24px;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--brand-primary)
}


/* ACCOUNT INFORMATION SECTION */
.account-section {
  margin-top: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.account-information {
  border: 1px solid lightgray;
  padding: 12px 24px 12px 24px;
  width: 100%;
  min-height: 300px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 48px;
  box-shadow: var(--brand-shadow);
}

.account-btn-wrapper {
  margin: 40px 0 20px 0;
  width: 100%;
  gap: 20px;
  justify-content: flex-start;
}


/* MEDIA QUERIES */
@media screen and (max-width: 460px) {
  .account-section button {
    font-weight: 400;
    font-size: 20px;
  }
  .acocunt-btn-wrapper {
    gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .profile-heading,
  .upcoming-bookings,
  .account-section {
  width: 90%;
}
.header-content, .footer-content {
  width: 90%;
}
}