header, 
.branding, 
nav,
.header-content,
footer,
.footer-content,
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

header, footer {
  background-color: var(--brand-primary);
  height: 60px;
  width: 100vw;
  box-shadow: var(--brand-shadow);
}

footer {
  height: 100px;
  margin-top: 60px;
}

footer img {
  border-radius: 100px;
}

.header-content {
 justify-content: space-between;
}

.header-content, main, .footer-content {
  width: 80%;
}

.branding, nav {
  gap: 25px;
}

.alt-logo {
  display: none;
}

header a, footer a {
  color: black;
}

header a:hover, footer a:hover {
  color: white;
}

.profile-link {
  border-radius: 50px;
}

.profile-link:hover {
  background-color: white;
}

header h3 {
  color: white;
}

@media screen and (max-width: 500px) {
  header h3 {
    display: none;
  }
}

.footer-content {
  justify-content: space-between;
}

.socials {
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}


/* MODALS */
.modal form {
  margin: 10px 10% 0 10%;
  width: 80%;
}

.modal h5 {
  width: 80%;
  margin-left: 10%;
}

.form-outline, .select-outline {
  margin-bottom: 20px;
}


/* BUTTONS */
button {
  line-height: 1;
}

.button-primary {
  width: 200px;
  height: 60px;
  background-color: var(--brand-primary);
  border-radius: 15px;
  font-size: 24px;
  color: white;
  border: none;
  box-shadow: var(--brand-shadow);
  padding: 2px;
}

.button-primary:hover, .form-button:hover {
  background-color: var(--brand-primary-faded);
}

.button-primary:active, .form-button:active {
  border: 2px solid var(--brand-primary);
}

.button-primary-opp {
  width: 200px;
  height: 60px;
  background-color: white;
  border-radius: 15px;
  font-size: 24px;
  color: black;
  border: 1px solid var(--brand-primary);
  box-shadow: var(--brand-shadow);
  padding: 2px;
}

.button-primary-opp:hover {
  background-color: var(--brand-light);
}

.button-primary-opp:active {
  border: 2px solid var(--brand-primary);
}

.form-button {
  width: 120px;
  height: 40px;
  background-color: var(--brand-primary);
  border-radius: 5px;
  font-size: 18px;
  color: white;
  border: none;
  box-shadow: var(--brand-shadow);
  margin-bottom: 20px;
}